/* * {
  font-family: "Roboto", "Oswald", "Raleway", sans-serif;
} */

.logo {
  fill: #4e2f67;
}

h1 {
  box-shadow: 5px 10px #b5823e;
  color: #4e2f67;
  font-family: "Oswald", sans-serif;
}

.h2 {
  color: #4e2f67;
  border-bottom: #b5823e;
}

h8 {
  font-family: "roboto", sans-serif;
}

h6 {
  color: #ffffff;
  font-family: "roboto", sans-serif;
}

h7 {
  font-family: "Roboto", sans-serif;
}

.nav-wrapper {
  background-color: #b5823e;
  border-color: #4e2f67;
  margin-right: 200px;
}

.nav {
  background-color: #b5823e !important ;
}

.sidenav {
  background-color: #b5823e !important ;
  opacity: 85%;

}

/* .date-text {
  background-color: #4e2f67;
} */

/* .modal-content {
  background-color: #4e2f67;
} */

.datepicker-date-display {
  background-color: #4e2f67;
}

.active{
  color: #4e2f67;
}

li {
  color: #ffffff;
}

form.signup,
form.login {
  margin-top: 50px;
}

#svg,
#brand-logo {
  fill: #4e2f67;
}

/* .section {
  background-color: fuchsia;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
} */

.container {
  /* background-color: #4E2F67; */
  padding: 10px;
}

#searchBtn,
#clearBtn,
#addBtn,
.btn {
  background-color: #4e2f67 !important;
  border-color: grey;
}

.btn-flat,
.datepick-day-button {
  color: #4e2f67;
}

.searchbox,
.card-container {
  border-style: solid;
  border-color: #b5823e;
  border-width: 5px;
  margin: 10px;
}

.active,
input [type="search"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px pink;
  box-shadow: 1px #4e2f67 !important;
}

#results {
  border-style: solid;
  border-color: #b5823e;
  border-width: 5px;
  margin: 10px;
}

.footer {
  text-align: center;
  padding: 10px;
  padding-top: 60px;
  background-color: #b5823e;
}
